header.profile {
    position: relative;
    top: 50px;
    height: 300px;
    background-color: orange;
}
header.profile div.title {
    width: 720px;
    margin: auto;
    padding: 10px;
}
header.profile div.title *{
    display: inline;
    vertical-align: middle;
    margin: auto;
}
header.profile div.title button{
    padding: 5px 10px;
}
.content {
    position: relative;
    top: 50px;
}
.center {
    text-align: center;
}