* {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
.everything {
    position: relative;
    top: 50px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: orange;
}
header {
    width: 100%;
}
header * {
    font-size: 15px;
    color: white;
    background: none;
    border: none;
    display: inline;
}
header *:hover {
    color: darkgray;
}
header.main {
    position: fixed;
    height: 50px;
    background-color: #333333;
    z-index: 10;
}
header.main nav {
    position: relative;
    left: 5px;
}
header.main nav * {
    padding: 10px;
}
h1 {
    width: 720px;
    margin: auto;
}
.content {
    width: 720px;
    height: 2000px;
    margin: auto;
    padding: 10px;
    background-color: lightgray;
    text-align: left;
}
.largeProfile {
    height: 210px;
    width: 210px;
    background-color: darkgray;
    position: absolute;
}
img.large {
    overflow: hidden;
    height: 300px;
    width: 300px;
    object-fit: cover;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 150px;
    margin: auto;
}
img.medium {
    overflow: hidden;
    height: 80px;
    width: 80px;
    object-fit: cover;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 40px;
}
img.small {
    overflow: hidden;
    height: 40px;
    width: 40px;
    object-fit: cover;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
}
ul {
    list-style-type: none;
}
.textfield {
    background-color: lightgray;
}