<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Contacts</title>
        <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        <div class="everything">
            <div class="content">
                <h2 th:if="${requests.size()!=0}">Requests</h2>
                <ul>
                    <li  th:each="person: ${requests}">
                        <form th:action="@{/contacts/{url}/respond(url=${person.url})}" method="POST">
                            <a th:href="@{/user/{url}(url=${person.url})}">
                                <img th:src="@{/user/{url}/profilepicture(url=${person.url})}" class="medium" alt="" />
                                <span th:text="${person.name}"></span>
                            </a>
                            <input type="submit" name="action" value="Accept">
                            <input type="submit" name="action" value="Decline">
                        </form>
                    </li>
                </ul>
                <h2>Contacts</h2>
                <ul>
                    <li th:each="person: ${confirmed}">
                        <form th:action="@{/contacts/{url}/delete(url=${person.url})}" method="POST">
                            <a th:href="@{/user/{url}(url=${person.url})}">
                                <img th:src="@{/user/{url}/profilepicture(url=${person.url})}" class="medium" alt="" />
                                <span th:text="${person.name}"></span>
                            </a>
                            <input type="submit" value="Delete">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>