<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Generic social media</title>
        <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        <div class="everything">
            <h1 th:text="${'Hello ' + message}">Hello DEVELOPER</h1>

            <div class="content">
                <form method="POST" th:action="@{/}">
                    <input type="text" name="update"/>
                    <input type="submit" name="submit">
                </form>
                <ul>
                    <li th:each="post: ${posts}">
                        <img th:src="@{/user/{id}/profilepicture(id=${post.poster.url})}" class="small" alt="">
                        <span th:text="${post.content}">Hello</span>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
