<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Generic social media</title>
        <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
        <link href="../static/css/frontpage.css" th:href="@{/css/frontpage.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        <div class="everything">
            <h1 th:text="${'Hello ' + me.name + '!'}">Hello DEVELOPER</h1>

            <div class="content">
                <form method="POST" th:action="@{/}">
                    <input type="text" name="update"/>
                    <input type="submit" value="Post" name="submit"/>
                </form>
                <ul>
                    <li th:each="post: ${posts}" class="post">
                        <a th:href="@{/user/{url}(url=${post.poster.url})}">
                            <img th:src="@{/user/{url}/profilepicture(url=${post.poster.url})}" class="medium" alt="" />
                            <span th:text="${post.poster.name}">Name</span>
                        </a>
                        <span th:text="${post.time}" class="time">Time</span>
                        <div th:text="${post.content}" class="postcontent">Content</div>
                        <form th:if="${!liked.contains(post)}" method="POST" th:action="@{/posts/{id}(id=${post.id})}">
                            <span th:text="${post.likes.size()}"></span>
                            <input type="submit" name="like" value="Like"/>
                        </form>
                        <form th:if="${liked.contains(post)}" method="POST" th:action="@{/posts/{id}/unlike(id=${post.id})}">
                            <span th:text="${post.likes.size()}"></span>
                            <input type="submit" name="unlike" value="Unlike"/>
                        </form>
                        <ul>
                            <li th:each="comment: ${post.comments}">
                                <a th:href="@{/user/{url}(url=${comment.poster.url})}">
                                    <img th:src="@{/user/{url}/profilepicture(url=${comment.poster.url})}" class="small" alt="" />
                                    <span th:text="${comment.poster.name}"></span>
                                </a>
                                <span th:text="${comment.time}" class="time"></span>
                                <div th:text="${comment.content}"></div>
                            </li>
                        </ul>
                        <form method="POST" th:action="@{/posts/{id}/comment(id=${post.id})}">
                            <input type="text" name="comment">
                            <input type="submit" value="Comment" name="submitcomment">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
