<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${user.name}">YOUR PROFILE</title>
        <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
        <link href="../static/css/profile.css" th:href="@{/css/profile.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        <header class="profile">
            <img th:src="@{/user/{id}/profilepicture(id=user.url)}" class="large" alt="your profile picture"/>
            <div class="title">
                <h1 th:text="${user.name}">YOUR PROFILE</h1>
                <button th:if="${user==me}" th:action="@{/settings}" method="GET">Edit</button>
                <form th:if="${user!=me}" th:action="@{/user/{url}/add(url=${user.url})}" method="POST">
                    <input th:if="${added==0}" type="submit" value="Add to contacts"/>
                    <p th:if="${added==1}">Contact request pending...</p>
                    <p th:if="${added==2}">FRIENDS</p>
                </form>
            </div>
        </header>

        <div class="content">
            There is nothing here...
        </div>

    </body>
</html>
