<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${user.name}">YOUR PROFILE</title>
        <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
        <link href="../static/css/profile.css" th:href="@{/css/profile.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        <div class="content">
            <div class="title">
                <img th:src="@{/user/{url}/profilepicture(url=${user.url})}" class="large" alt="your profile picture"/>
                <h1 th:text="${user.name}">YOUR PROFILE</h1>
                <button th:if="${user==me}" th:action="@{/settings}" method="GET">Edit</button>
                <form th:if="${user!=me}" th:action="@{/user/{url}/add(url=${user.url})}" method="POST">
                    <input th:if="${added==0}" type="submit" value="Add to contacts"/>
                    <p th:if="${added==1}">Contact request pending...</p>
                    <p th:if="${added==2}">FRIENDS</p>
                </form>
            </div>
            <form  th:if="${user==me}" method="POST" th:action="@{/user/{url}/skill(url=${user.url})}">
                <input type="text" name="skill"/>
                <input type="submit" value="Add skill" name="submit"/>
            </form>
            <h2>Highlighted skills: </h2>
            <ul>

                <li th:each="skill: ${skills}">
                    <span th:text="${skill.content}"></span>
                    <br />
                    <span th:text="${skill.praises.size()} +' Praises'"></span>
                </li>
            </ul>
            <h3>All skills: </h3>
            <ul>
                <li th:each="skill: ${allskills}">
                    <span th:text="${skill.content}"></span>
                    <br />
                    <span th:text="${skill.praises.size()} +' Praises'"></span>
                    <form th:if="${user!=me && !praised.contains(skill)}" method="POST" th:action="@{/user/{url}/skill/{id}(id=${skill.id}, url=${user.url})}">
                        <input type="submit" name="praise" value="Praise"/>
                    </form>
                </li>
            </ul>
        </div>

    </body>
</html>
