<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Settings</title>
        <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        <div class="everything" >
            <h1>Search results:</h1>
            <div class="content">
                <ul>
                    <li th:each="person: ${results}">
                        <a th:href="@{/user/{url}(url=${person.url})}">
                            <img th:src="@{/user/{url}/profilepicture(url=${person.url})}" class="medium" alt="" />
                            <span th:text="${person.name}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>